.can-place {
    cursor: pointer;
}
.columns {
    display: flex;
    flex-direction: row;
}
.board {
    width: var(--global-width);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.column {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: var(--card-width);
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1px;
    min-height: 500px;

    .card {
        position: absolute;
    }
    @for $i from 1 to 54 {
        .card:nth-child(#{$i}) {
            top: $i*25px;
            z-index: $i;
        }
    }
}
.free-places {
    display: inline-flex;
}
.free-place {
    width: var(--card-width);
    height: var(--card-height);
    box-sizing: border-box;
    margin-right: 1px;
    border: 1px solid black;

    .card {
        position: relative;
        top: -1px;
        left: -1px;
    }
}
.foundation-row {
    display: flex;
}
.foundation {
    width: var(--card-width);
    height: var(--card-height);
    box-sizing: border-box;
    margin-right: 1px;
    border: 1px solid black;
    background: forestgreen;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    .card {
        position: relative;
        top: -1px;
        left: -1px;
    }
    .foundation-empty {
        font-size: 72px;
    }
    .foundation-empty-black {
        color: black;
    }
    .foundation-empty-red {
        color: red;
    }
}
