.board {

}
.columns {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 132px;
    flex-grow: 0;
    flex-shrink: 0;

    .card {
        position: absolute;
    }
    @for $i from 1 to 54 {
        .card:nth-child(#{$i}) {
            top: $i*25px;
            z-index: $i;
        }
    }
}
.free-places {
    display: inline-flex;
}
.free-place {
    width: 130px;
    height: 200px;
    border: 1px solid black;
}
.collectedCards {
    display: inline-flex;
}
.collectedStack {
    width: 130px;
    height: 200px;
    border: 1px solid black;
}
